body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(167 117 117 / 16%);
}
.product{
  color: #105ca9;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
}
.error-div{
  background-color: azure;
  text-align: center;
}

#all-products {
  background-color: rgb(224, 226, 211) !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.single-product {
  padding: 8px;
  margin-right: 8px;
  background-color:  #e28b8b3b;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}

.modal-img{
  height: 254px;
  width: 156px;
  text-align: center;
}
.modal-card{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #2e2626ca;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    flex-direction: row;
    align-items: center;
    color: lavender;
}
.modal-content{
 background-color: #ffffff00;
}
.product-image {
    width: 250px;
    height: 264px
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }

}
